html, body {
    height: 100%;
    width: 100%;
}

.navbar {
opacity: 0.8;
background: #000000;
border: 0;
color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
    color:red;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background: red;
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    text-shadow: 0;
}
.navbar-default .navbar-brand:hover{
    color:red;
    text-shadow: 0;
}

.navbar-brand {
font-family: 'Oswald', Arial, Verdana;
text-transform: uppercase;
color: white;
}

.menue-section {
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: snow;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.menue-section h1{
    font-family: 'Oswald', Arial, Verdana;
    font-size: 60px;
    color: snow;
    text-transform: uppercase;
}

.menue-section h2{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color: snow;
}

.about-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w2.jpg) no-repeat center;
    background-size: cover;
}

.contact-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w3.jpg) no-repeat center;
    background-size: cover;
}

.navbar-brand.active{
    color: white;
}

/* TODO alle block Klassen überarbeiten um Buttons besser zu gestalten
    eventuell auch alle mit detail IDs */

/*** EXTERNE**/


.container{
    width: 100%;
	text-align: center;
    margin: 0 auto;
	flex-wrap: wrap;
}
.popup {
    display:none;
    margin:0 auto;
    width:90%;
    height:90%;
    position:fixed;
    top:20px;
    background-color:#313131;
    color:white;
}

.block{
	width: 300px;
    float: left;
	background:white;
	position: relative;
    text-shadow: none;
    margin: 1em;
}

.block:hover{
    margin-top: 8px;
}

/*** Buttons**/

#detail1{
    color: white;
}


/*.block > div {display: inline-block;}*/
.title{
	font-size: 1.5em;
	color: white;
	margin-bottom: 0.4em;
    background-color: forestgreen;
}
.smalltitle{
	font-size: 1em;
    color: gray;
}
.content{
	margin-top: 1em;
	font-size: 0.9em;
	text-align: left;
    color:black;
    padding: 20px;
}

/*Media Query
@media(min-width: 30rem){
	.container {
		/*Flexbox
		display: inline-flex;
		/*flex-wrap: wrap;
	}
	.block {
		margin-left: 1em;
		margin-right: 1em;
		min-height: 200px;
	}
}
*/