html, body {
    height: 100%;
    width: 100%;
}

/*------------
Navigationsbar
------------*/

/*#top-menue-bar{
    width: 100%;
	text-align: center;
    margin: 0 auto;
	flex-wrap: wrap;
}*/

.navbar {
opacity: 0.8;
background: #000000;
border: 0;
color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
    color:red;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background: red;
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    text-shadow: 0;
}
.navbar-default .navbar-brand:hover{
    color:red;
    text-shadow: 0;
}

.navbar-brand {
font-family: 'Oswald', Arial, Verdana;
text-transform: uppercase;
color: white;
}

.navbar-brand.active{
    color: white;
}


/*------------
"Menü"-Displaybereich
------------*/

.menue-section {
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: snow;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.menue-section h1{
    font-family: 'Oswald', Arial, Verdana;
    font-size: 60px;
    color: snow;
    text-transform: uppercase;
}

.menue-section h2{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color: snow;
}

/*------------
"Über"-Displaybereich
------------*/

.about-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w2.jpg) no-repeat center;
    background-size: cover;
}


/*------------
"Kontakt"-Displaybereich
------------*/

.contact-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w3.jpg) no-repeat center;
    background-size: cover;
}


/*------------
Menü-Bereich
------------*/

.container{
   /* background-color: yellow;
*/
}

.row{
 margin-top: 4em;
}

.col{
/*	width: 300px;
    height: 200px;*/
    float: left;
	opacity: 0.8;
    background: #000000;
	position: relative;
    text-shadow: none;
    margin: 1em;
}

.col:hover{
    margin-top: 8px;
}

.menue-button{
    width: 300px;
    height: 200px;
    font-size: 1.5em;
	font-family: 'Oswald', Arial, Verdana;
    text-transform: uppercase;
    color: white;
    background: #000000;
    border: 0;
}


/*------------
Popup
------------*/

.popup {
    display:none;
    margin:0 auto;
    width:90%;
    height:90%;
    position:fixed;
    top:20px;
    background-color:#313131;
    color:white;
}

.pop-title{
	color: white;
	margin-bottom: 1em;
    font-family: 'Oswald', Arial, Verdana;
    font-size: 40px;
    text-transform: uppercase;
}
.pop-second-title{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 10px;
    color: snow;
}
.pop-content{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 3px;
	margin-top: 1em;
	text-align: left;
    color:white;
    padding: 20px;
}