html, body {
    height: 100%;
    width: 100%;
}

/*------------
Navigationsbar
------------*/

/*#top-menue-bar{
    width: 100%;
	text-align: center;
    margin: 0 auto;
	flex-wrap: wrap;
}*/

.navbar {
opacity: 0.8;
background: #000000;
border: 0;
color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
    color:red;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background: red;
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
    text-shadow: 0;
}
.navbar-default .navbar-brand:hover{
    color:red;
    text-shadow: 0;
}

.navbar-brand {
font-family: 'Oswald', Arial, Verdana;
text-transform: uppercase;
color: white;
}

.navbar-brand.active{
    color: white;
}


/*------------
"Menü"-Displaybereich
------------*/

.menue-section {
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: snow;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.menue-section h1{
    font-family: 'Oswald', Arial, Verdana;
    font-size: 60px;
    color: snow;
    text-transform: uppercase;
}

.menue-section h2{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color: snow;
}

/*------------
"Über"-Displaybereich
------------*/

.about-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w2.jpg) no-repeat center;
    background-size: cover;
}

.about-text-area{
    margin-top: 4em;
    padding: 3em;
    width: 100%
}

.about-text{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color:black;
}


/*------------
"Kontakt"-Displaybereich
------------*/

.contact-section{
    height: auto !important;
    min-height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background:url(../img/w3.jpg) no-repeat center;
    background-size: cover;
}

.contact-text-area{
    margin-top: 1em;
    text-align: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background: black;
    opacity: 0.8;
    padding: 1em;
}

.contact-text{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.contact-text-header{
    color:white;
     text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.mail{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 30px;
    color:red;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}


/*------------
Menü-Bereich
------------*/

.container
.row
.col{
/*	width: 300px;
    height: 200px;*/
    /*float: left;*/
	opacity: 0.8;
    background: #000000;
	position: relative;
    text-shadow: none;
    margin: 1em;
}

#menue-row{
    margin-top: 3em;
}

.menue-button{
    opacity: 0.8;
    margin-bottom: 2em;
    width: 220px;
    height: 250px;
    font-size: 1.5em;
	   font-family: 'Oswald', Arial, Verdana;
    text-transform: uppercase;
    color: white;
    background: #000000;
    border: 0;
}

.menue-button:hover{
    color:red;
}


/*------------
Popup
------------*/

.popup {
    display:none;
    margin:0 auto;
    width:90%;
    height:90%;
    position:fixed;
    top:20px;
    background-color:#3d1111;
    color:white;
    text-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
}


@media(min-width: 900px){
  .popup{
    width:50%;
    height: 80%;
  }
}

#overlay {
    display:none;
    margin:0;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    background-color:black;
    opacity: 0.7;
    color:white;
    text-shadow: none;
    overflow-y: none;
    overflow-x: none;
}

.pop-title{
	color: white;
	margin-bottom: -20px;
  margin-top: 1em;
  font-family: 'Oswald', Arial, Verdana;
  font-size: 30px;
  text-transform: uppercase;
}
.pop-second-title{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 20px;
    color: snow;
    text-align: center;
}
.pop-content{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 13px;
	  margin-top: 0px;
    text-align: left;
    color:white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 240px;
}

.pop-content-left{
  float: left;
  width: 30%;
  min-height: 120px;
}

.pop-content-right{
  float: right;
  width: 70%;
  min-height: 120px;
  padding-left: 40px;
    text-align: left;
}

.pop-content-bewertungen{
    font-family: 'Roboto', Arial, Verdana;
    font-size: 13px;
    margin-top: 0px;
    text-align: left;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 240px;
}

.bewertungen-tabelle{
    margin: 0 auto;
    font-size: 20px;
}

.rad-button{
    padding-left: 6px;
    padding-right: 6px;
}

.label_item {
opacity: 0.3;
}

/**Backup
.rad-button:checked + label {
opacity: 1;
}**/

.rad-button:checked + label{
opacity: 1;
}

input.rad-button:checked ~ label.rad-button:before { opacity: 1; }


.textbox{
    color: black;
    width: 80%;
}

.glyphicon{
    float: right;
    color:white;
    margin: 5px;
}

.submit-button{
    color: black;
}


/* PAUL */
.current-comments{
text-align: center;
}


/*Experimental*/
.col-sm-3{
    margin-left: calc(50% - 115px);
    width: 100px;
}


.circle {
  margin: 10px;
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  /*background-color: #fff;*/
  background-color: black;
  /*border: 2px solid #5c5eae;*/
  border: 2px solid black;
  /*color: #5c5eae;*/
  color:white;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  /*background: #5c5eae;*/
  background: red;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle3 {
  opacity: 0.8;
}

.circle a {
  text-decoration: none;
  /*color: #1d2087;*/
    color:white;
}

.circle h2 {
  font-size: 60px;
}

.circle h2 small {
  /*color: #1d2087;*/
  color:white;
}

.circle p {
  font-size: 18px;
  line-height: 20px;
}


/*------------
Mobile Anpassung
------------*/

@media(min-width: 340px){
  .menue-button{
        width: 280px;
  }
}

@media(min-width: 650px){
  .menue-button{
        width: 400px;
  }
  .about-text-area{
        width: 80%
    }
}

@media(min-width: 800px){
  .menue-button{
        width: 500px;
  }
  .about-text-area{
        width: 70%
    }
}

@media(min-width: 1200px){
  .menue-button{
        width: 370px;
  }

  .about-text-area{
        width: 60%
    }

    .contact-text-area{
        margin-top: 2em;
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}

.dbewertung{
  font-size: 40px;
  border: 2px dashed white;
  padding: 2px;
}

/*Stern-Bewertung mit Effekt*/
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}

.rating-input {
    float: right;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    opacity: 1;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0.2;
    margin-right: 3px;
    text-decoration: none;
    background: url('http://paulstrobel.de/featback/img/star.png') 0 -16px;
}